body{
    margin: 10px;
    padding: 10px;
}
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    background-color: azure;
}
ul li a{
    text-decoration: none;
    padding: 20px 20px;
    display: block;
}
ul li a:hover{
    background-color: lightgreen;
}
ul li a.active{
    background-color: green;
}